::-moz-selection{ background:  #4a4d88; color:#f4f1de;  }
::selection { background: #4a4d88; color: #f4f1de;  }
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
// @include edit;

html, body {
  min-height:100%;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 63px;
  background-color: #282828;
}
a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.fright {
  float: right;
}
.fleft {
  float: left;
}
.none {
  display: none !important;
}
.hide {
  visibility: hidden;
}
.helper-viewport {
  color: #000;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99999;
}
p, ul, li {
  margin:0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.over-info {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-color: rgba($jetblack,0.5);
  color: $white;
  padding: 20px;
}
.play-btn {
  width: 60px;
  height: 60px;
  background-color: rgba($playbtn-color, 0.6);
  background-image: url('../images/play-btn.png');
  background-repeat: no-repeat;
  background-position: 55% 50%;
  text-indent: -999em;
  position: absolute;
  bottom: 30px;
  right: 30px;
  &:hover {
    background-color: rgba($playbtn-color, 1);
  }
}
