::-moz-selection{ background:  #4a4d88; color:#f4f1de;  }
::selection { background: #4a4d88; color: #f4f1de;  }
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
// @include edit;
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -193px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 193px;
}
.site-footer {}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 0;
  background-color: #282828;
  font-weight: 300;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
a {
  text-decoration: none;
  outline: 0 !important;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
a.active, .a:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.fright {
  float: right;
}
.fleft {
  float: left;
}
.none {
  display: none !important;
}
.hide {
  visibility: hidden;
}
.helper-viewport {
  color: #000;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99999;
}
p, ul, li, ol {
  margin:0;
  padding: 0;
}
ul li, ol li {
  list-style: none;
}
img:not(.notresponsive) {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.over-info {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-color: rgba($jetblack,0.5);
  color: $white;
  padding: 20px;
}
.play-btn {
  width: 60px;
  height: 60px;
  background-color: rgba($playbtn-color, 0.6);
  background-image: url('../images/play-btn.png');
  background-repeat: no-repeat;
  background-position: 55% 50%;
  text-indent: -999em;
  position: absolute;
  bottom: 30px;
  right: 30px;
  &:hover {
    background-color: rgba($playbtn-color, 1);
  }
}


.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.padding {
  padding: 14px;
}
.tab_content_area {
  margin: 10px 0 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 2px;
}
.person {
  display: inline-block;
  margin: 0 0 5px 5px;
  color: $brand-color-purple;
  span {
    border-bottom: 1px solid lighten($jetblack, 90%)
  }
  &:hover {
    color: $jetblack;
    span {
      border-bottom: 1px solid blue;
    }
  }
  &:after {
    content: " ,";
  }
  &:last-child:after {
    content: "";
  }
}
.thumnail {
  vertical-align: middle;
  border-radius: 100%;
  margin-right: 5px;
  &.small {
    width: 16px;
    height: 16px;
  }
  &.medium {
    width: 32px;
    height: 32px;
  }
  &.default {
    width: 64px;
    height: 64px;
  }
}
.your-cart-at-aglance {
  position: absolute;
  top: 13px;
  right: 0;
  width: 130px;
  height: 43px;
  background-color: #74558e;
  .bag {
    background: #999 url('../images/bag-icon.png') no-repeat 50% 50%;
    width: 34px;
    height: 43px;
    display: inline-block;
    float: left;
  }
  .your-cart, .has {
    font-size: 9px;
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    margin-left: 10px;
    font-weight: 300;
  }
  .your-cart {
  }
  .has {
    border-bottom: 1px solid;
  }
  &.currency {
    width: auto;
    background-color: transparent;
    top: 10px;
    right: 16px;
    .select-currency {
      width: 150px;
      position: relative;
      top: -10px;
      margin-right: 20px;
      & + span {
        font-size: 46px;
        color: #949494;
        line-height: 46px;
      }
    }
  }
}

.transition {
  -webkit-transition: all 125ms linear;
  -moz-transition: all 125ms linear;
  -o-transition: all 125ms linear;
  -ms-transition: all 125ms linear;
  transition: all 125ms linear
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.column-inner-title {
  .title {
    margin: -2px 0 10px 0;
    font-size: 32px;
    &.big {
      font-size: 46px;
    }
  }
}
.single-block {
  background: linear-gradient(to right,#29232f,#27202d,#140c1c);
  padding: 15px;
  margin-bottom: 15px;
  color: $white;
}

.bottom-nav, .subscribe-social-link {
  li {
    display: inline-block;
    margin-right: 20px;
    &:first-child {
      margin-left: 20px;
    }
    a {
      color: rgba($jetblack, 0.6);
      font-size: 13px;
      &:hover {
        color: $brand-color-purple;
      }
      &.subscribe .fa {
        margin-left: 5px;
      }
      &.facebook:hover {
        .fa {
          color: $facebook;
        }
      }
      &.twitter:hover {
        .fa {
          color: $twitter;
        }
      }
      &.pinterest:hover {
        .fa {
          color: $pinterest; 
        }
      }
      &.googleplus:hover {
        .fa {
          color: $googleplus;
        }
      }
      &.tumblr:hover {
        .fa {
          color: $tumblr;
        }
      }
      &.heart:hover {
        .fa {
          color: $heart;
        }
      }
    }
  }
}

// overlay
.overlay-name-company {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  color: $white;
  background-color: rgba($brand-color-overlay, 0.75);
  transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
  > * {
    padding: 0;
    margin: 0;
  }
  h3 {
    border-bottom: 1px solid $brand-color;
    padding-bottom: 5px;
    margin: 5px;
    font-weight: normal;
    font-size: 26px;
  }
  a {
    display: initial;
  }
  .wish-meta {
    padding: 8px 15px 16px;
  }
  .brand_name {
    display: block;
  }
  .brand_name, .bio, .bio_description {
    font-size: 14px;
    padding: 0 15px 15px;
  }
  .bio {
    display: none;
    font-weight: 700;
    font-size: 16px;
  }
  .bio_description {
    line-height: 1.6;
    font-size: 16px;
  }
  .view_detailed_profile {
    background-color: rgba($brand-color, 0.7);
    background-image: url('../images/right-arrow.png');
    background-position: 93% center;
    background-repeat: no-repeat;
    background-size: 12%;
    font-size: 24px;
    color: $white;
    padding: 20px 15px;
    font-family: 'Source Sans Pro',sans-serif;
  }
}
li.quick-view {
  .overlay-name-company {
    bottom: -48px;
    padding: 0;
    h3 {
      margin: 5px 15px;
    }
  }
  &:hover {
    .overlay-name-company {
      bottom: 0;
    }
  }
}
.single-item {
  h3 {
    border: none;
  }
}
li.add-to-selection {
  .overlay-name-company {
    bottom: -51px;
    padding: 0;
    height: 141px;
    h3 {
      margin: 5px 15px;
    }
  }
  &:hover {
    .overlay-name-company {
      bottom: 0;
    }
  }
}
.designer-short-bio {
  .overlay-name-company {
    bottom: -132px;
    padding: 0;
    h3 {
      margin: 5px 15px;
      border: none;
    }
  }
  &:hover {
    .overlay-name-company {
      bottom: 0;
    }
  }
}
.wish-meta {
  padding: 16px;
  font-size: 16px;
  overflow: hidden;
  > * {
    float: left;
  }
  .category {
    max-width: 178px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .price {
    float: right;
    max-width: 86px;
  }
}

.cta-block {
  font-size: 16px;
  background-color: rgba($brand-color, 1);
  padding: 15px;
  overflow: hidden;
  select {
    display: inline-block;
    float: left;
  }
  .add-selection {
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    .fa {
      padding-left: 5px;
    }
  }
  > a {
    display: inline-block;
    float: left;
    &:last-child {
      float: right;
    }
  }
  a:hover {
    color: darkseagreen;
  }
}
a.save {
  &:after {
    content: "+";
    position: relative;
    left: -14px;
    color: $jetblack;
    font-size: 12px;
    top: -3px;
  }
}
.action-item {
  text-transform: uppercase;
  color: $white;
  display: inline;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%
}
caption,td,th {
  border: 1px solid #ddd
}

td,th {
  padding: .5em 5px;
  font-size: 1em
}

th {
  background-color: $white;
}

caption {
  margin: 0;
  font-size: 1.3em;
  background: #eee;
  padding: 10px
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f9f9f9
}
.block {
  width: 100%;
}
