$white: #fff;
$jetblack: #000;
$black: #343434;
$playbtn-color: #7e3f98;
$green-color: chartreuse;
// $brand-color: #4b3263;
$brand-color: #7e3f97;
$brand-color-overlay: #342a3d;
$brand-color-overlay-2: #7f3b9a;

$control-color: #7e3f98;

// social icon color
$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #d73d32;
$tumblr: #2f395c;
$pinterest: #c8232c;

// alert color
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$primary: #337ab7;
$default: #999;