.collection-home {
  .action-item {
    text-transform: uppercase;
    color: $white;
  }
}
// collections slider
.collections {
  .single-item {
    &:hover, &.active {
      .overlay-name-company {
        background-color: rgba($brand-color, .9) !important;
      }
    }
  }
  .overlay-name-company {
    h3 {
      border: none;
      font-size: 16px;
      padding-left: 10px !important;
    }
  }
}