@import '../../bower_components/jeet/scss/jeet/index';

.designers-home {
  @include center(1200px, 14px);
  padding-bottom: 14px;
  background-color: $white;
  .title {
    color: $brand-color;
  }
  .three-fourth {
    .pagination {
      margin: 27px 0 0;
    }
  }
}
.filter-column {
  @include span(1/5);
  font-family: $primary-font;
  height: 100%;
  position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b353f+0,221131+100 */
  background: #3b353f; /* Old browsers */
  background: -moz-linear-gradient(top,  #3b353f 0%, #221131 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b353f), color-stop(100%,#221131)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3b353f 0%,#221131 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3b353f 0%,#221131 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3b353f 0%,#221131 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3b353f 0%,#221131 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b353f', endColorstr='#221131',GradientType=0 ); /* IE6-9 */

  * {
    font-family: inherit;
    font-weight: 300;
    color: $white;
  }
  h3 {
    font-size: 34px;
    text-transform: uppercase;
    margin: 0;padding:0 0 15px;
    line-height: 25px;
  }
}
.three-fourth {
  @include span(4/5);
  padding-left: 14px;
  ul li {
    @include col(1/3, $gutter: 0, $cycle: 3);
    position: relative;
    margin:0;
    padding:0;
    font-size: 0;
    overflow: hidden;
    img {
      height: 100%;
    }
    a {
      display: block;
      height: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      &:hover {
        .bio, .bio_description {
          display: block;
        }
        .brand_name {
          display: none;
        }
        .bio {
          display: block;
        }
        .overlay-name-company {
          bottom: 0;
        }
      }
    }
    .overlay-name-company {
      position: absolute;
      left: 0;
      bottom: -140px;
      right: 0;
      background-color: rgba($jetblack, 0.7);
      text-align: left;
      color: $white;
      padding: 0;
      transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
      h3 {
        margin: 0;
        padding: 15px 0 10px 15px;
        font-size: 22px;
        font-weight: 300;
        font-family: 'Source Sans Pro',sans-serif;
      }
      .brand_name {
        display: block;
      }
      .brand_name, .bio, .bio_description {
        font-size: 14px;
        padding: 0 15px 15px;
      }
      .bio {
        display: none;
        font-weight: 700;
        font-size: 16px;
      }
      .bio_description {
        line-height: 1.6;
        font-size: 16px;
      }
      .view_detailed_profile {
        background-color: rgba($brand-color, 0.7);
        background-image: url('../images/right-arrow.png');
        background-position: 93% center;
        background-repeat: no-repeat;
        background-size: 12%;
        font-size: 28px;
        color: $white;
        padding: 20px 15px;
        font-family: 'Source Sans Pro',sans-serif;
      }
    }
  }
}