<h3 class="title">Add Address</h3>
<form action="">
	<input type="text" placeholder="First Name">
	<input type="text" placeholder="Last Name">
	<input type="text" placeholder="Telephone (Daytime)">
	<input type="text" placeholder="Telephone (Evening) - Optional">
	<input type="text" placeholder="Mobile - Optional">
	<select class="select-currency">
	<option value="">Country</option>
		<option value="1">BD</option>
		<option value="2">Pound</option>
		<option value="3">others</option>
		<option value="4">others</option>
	</select>
	<input type="text" placeholder="Address Line 1">
	<input type="text" placeholder="Address Line 2">
	<input type="text" placeholder="Postal Code">
	<input type="submit" name="subscribe-submit" id="" class="custom-btn block btn-pink" value="Save Details">
</form>