
<h3>Contact with Designer</h3>
<form action="">
  <textarea rows="4" cols="50">
    Your message here...
  </textarea>

  <a href="javascript:;" title="Close (Esc)" class="mfp-close custom-btn default">No, Thanks</a>
  <input type="submit" name="subscribe-submit" id="subscribe-submit" class="custom-btn success" value="submit">

</form>
