
<h3>Contact with Designer</h3>
<form action="">
	<label for="" class="todesigner">To : 
		<img src="images/bio-pic.jpg" alt="">
	</label>
	<span>Karl Lagerfiveld</span>
  <textarea placeholder="Your message..."></textarea>

  <a href="javascript:;" title="Close (Esc)" class="mfp-close custom-btn default">No, Thanks</a>
  <input type="submit" name="sendMessage" id="sendMessage" class="custom-btn success" value="Send Message">

</form>
